<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>You are in Home</h1>

    <img src="img/macbook-pro.jpg" alt="macbook-pro" height="100rem">
    <p>This is the new macbook pro</p>
    <ul>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/contactos">Contactos</a></li>
    </ul>
</body>
</html>